In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('customer.csv')

In [4]:
df.sample(5)

    age  gender   review education purchased
25   57  Female     Good    School        No
21   32    Male  Average        PG        No
48   39  Female     Good        UG       Yes
38   45  Female     Good    School        No
12   51    Male     Poor    School        No

In [ ]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [7]:
df.shape

(50, 3)

In [8]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:2],df.iloc[:,-1],test_size=0.1,random_state=0)
x_train.shape, x_test.shape

((45, 2), (5, 2))

In [19]:
x_train.sample(5)

     review education
34  Average    School
33     Good        PG
26     Poor        PG
45     Poor        PG
23     Good    School

In [20]:
x_train_unique = df['review'].unique().tolist()
print(x_train_unique)

['Average', 'Poor', 'Good']

In [22]:
x_test_unique = df['education'].unique().tolist()
print(x_test_unique)

['School', 'UG', 'PG']

In [23]:
ordinal_encoder = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [26]:
ordinal_encoder.fit(x_train)
x_train_encode  = ordinal_encoder.transform(x_train)

In [ ]:
x_train_df = pd.DataFrame(x_train_encode,);
x_train_df

      0    1
0   0.0  2.0
1   2.0  0.0
2   0.0  0.0
3   0.0  2.0
4   1.0  1.0
5   2.0  2.0
6   0.0  0.0
7   0.0  2.0
8   1.0  0.0
9   2.0  0.0
10  0.0  0.0
11  0.0  2.0
12  0.0  2.0
13  2.0  1.0
14  1.0  1.0
15  0.0  1.0
16  1.0  1.0
17  1.0  1.0
18  0.0  1.0
19  2.0  2.0
20  1.0  0.0
21  0.0  2.0
22  1.0  1.0
23  1.0  0.0
24  2.0  0.0
25  1.0  0.0
26  0.0  1.0
27  2.0  0.0
28  2.0  1.0
29  0.0  1.0
30  0.0  0.0
31  1.0  2.0
32  1.0  2.0
33  2.0  0.0
34  2.0  0.0
35  2.0  1.0
36  1.0  2.0
37  0.0  2.0
38  2.0  1.0
39  0.0  2.0
40  0.0  2.0
41  2.0  2.0
42  1.0  0.0
43  2.0  2.0
44  1.0  1.0