### Working with Json

In [1]:
import pandas as pd;
import requests;

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [6]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,33.1005,8.700,29017
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.5430,8.686,21931
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.2842,8.572,13251
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.5324,8.567,16767
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.8110,8.548,9458

In [7]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [10]:
# for i in range(1,429):
    #response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    #temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df = df.append(temp_df,ignore_index=True)

In [12]:
df.shape
df.to_csv('movies.csv')